@import '../../styles/vars.css';

.login-button-another {
    background-color: var(--color-primary);
    color: var(--color-bg);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button-account {
    background-color: var(--color-primary);
    color: var(--color-bg);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 10px;
}
