@import '../../styles/vars.css';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa; /* You can adjust the background color as needed */
}

.navbar-brand {
    font-size: 2.5rem; /* Increase the font size for the logo */
    font-weight: bold; /* Optional: Make the logo bold */
    color: #333; /* Adjust the color if necessary */
}

.navbar-links {
    display: flex;
    align-items: center;
}

.sign-in {
    background-color: var(--color-primary); /* Button background color */
    color: white; /* Button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* Adjust the font size as needed */
}

.sign-in:hover {
    background-color: var(--color-secondary); /* Change color on hover */
}

.user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-avatar {
    width: 40px;  /* Increase from default size */
    height: 40px; /* Increase from default size */
    border-radius: 50%;
    margin-right: 8px;
    object-fit: cover;
}

.ant-avatar.ant-avatar-icon {
    width: 140px;  /* Increase from default size */
    height: 140px; /* Increase from default size */
    font-size: 124px; /* Increase icon size if using UserOutlined */
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-name {
    margin-left: 8px;
}
