@import '../../../styles/vars.css';

.btn-next, .btn-previous, .btn-submit {
    background-color: var(--color-primary) !important;
}

.option-label {
    transition: background-color 0.3s ease;
}

.option-label:hover {
    background-color: var(--color-secondary);
}
