.react-multiple-carousel__arrow {
    background: #ffffff;
    min-width: 43px;
    min-height: 43px;
}
.custom-right-arrow {
    position: absolute !important;
    right: 30px;
    z-index: 1;
    border: 1px solid #ffffff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    opacity: 0.9;
    cursor: pointer;
    transform: rotate(-45deg);
}
.custom-right-arrow:hover {
    opacity: 1;
}
.custom-left-arrow {
    position: absolute !important;
    left: 30px;
    z-index: 1;
    border: 1px solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    opacity: 0.8;
    cursor: pointer;
    transform: rotate(135deg);
}
.custom-left-arrow {
    opacity: 1;
}