@import '../../../../styles/vars.css';

.question-submit-button {
    background-color: var(--color-primary);
    color: var(--color-bg);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
