@import '../../../../styles/vars.css';

.quiz-create-container {
    background-color: var(--color-bg);
    margin-top: 0; /* Ensure margin-top is 0 */
    padding: 0.5rem; /* Reduced padding */
}

.quiz-create-form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.quiz-create-form .MuiFormControl-root,
.quiz-create-form .MuiTextField-root {
    margin-bottom: 0.5rem; /* Reduced margin-bottom */
}

.quiz-create-form .MuiButton-root {
    margin-top: 1rem; /* Reduced margin-top */
}

.selected-questions-container {
    flex: 1;
    margin-left: 1rem; /* Reduced margin-left */
}

.selected-questions-container .MuiTypography-root {
    margin-bottom: 0.5rem; /* Reduced margin-bottom */
}

.selected-questions-container .MuiList-root {
    max-height: 30rem; /* Reduced max-height */
    overflow: auto;
    background: #f0f0f0;
    padding: 4px; /* Reduced padding */
    border-radius: 8px;
}

.selected-questions-container .MuiListItem-root {
    margin: 4px 0; /* Reduced margin */
    padding: 4px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.selected-questions-container .MuiListItem-root.Mui-selected {
    background-color: #d3d3d3;
}
