@import './styles/vars.css';

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--color-bg);
    z-index: 1000; /* Ensure it stays above other content */
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--color-text);
}

.sign-in {
    background-color: var(--color-primary);
    color: var(--color-bg);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f9f9f9;
    width: 100%;
    height: 100vh; /* Full height */
    box-sizing: border-box;
}

.hero-text {
    max-width: 50%;
    color: var(--color-text);
}

.hero-text h1 {
    font-size: 48px;
    color: var(--color-text);
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-buttons .teachers-signup, .hero-buttons .administrators-learn-more {
    background-color: var(--color-primary);
    color: var(--color-bg);
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.hero-button-register:hover {
    background-color: var(--color-secondary);
}

.hero-image img {
    max-width: 100%;
    height: auto;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

footer {
    background-color: var(--color-dark);
    color: var(--color-bg);
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-links a {
    color: var(--color-bg);
    margin: 0 10px;
    text-decoration: none;
}
